<!DOCTYPE html>
<html>
  <head>
    <title>Laura Lechner | Filmmaker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Laura Lechner is a filmmaker based in New York City">
    <!-- Scripts -->
    <!-- insert Google Anlytics here -->
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <!-- font -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- favicon -->
    <link rel="icon" type="image/png" href="./images/cropped-LL.png" />
  </head>
  <body>
    <nav>
      <div class="container">
        <div class="menu">
          <ul>
            <li><a href="about.html">About</a></li>
            <li><a href="work.html">Work</a></li>
          </ul>
        </div> <!-- end of menu -->
        <div class="name">
          <h1><a href="./">Laura Lechner</a></h1>
        </div>
      </div>
    </nav>
    <main class="basic-page">
      <div class="container">
        <div class="col-1">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam aliquam quisquam totam error hic laboriosam. Alias cupiditate rem asperiores nostrum, aliquam, autem eos voluptate harum omnis obcaecati quis dolorum doloribus.

        </div>
        <div class="col-2">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis possimus ab error, unde minima placeat consectetur, iure consequuntur inventore animi, repudiandae dolorum itaque optio molestias recusandae eaque soluta earum tempora!
    </main>
    <footer>
      <div class="container">
        <div class="credit">
          <p>Laura Lechner</p>
        </div>
        <div class="social">
          <a href="mailto:laura@lauralechner.com"><i class="fa fa-envelope"></i></a>
          <a href="https://www.linkedin.com/in/lalechner"><i class="fa fa-linkedin-square"></i></a>
          <a href="https://vimeo.com/lauralechner"><i class="fa fa-vimeo-square"></i></a>
        </div>
      </div>
    </footer>
  </body>
</html>
