nav {
  //position: fixed;
  padding: 1.5em 0;
  width: 100%;

  .container {
    @include respond-to(medium-plus) {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
    }
  }

  .menu, .name  {
    //width: 100%;
    flex: none;
  }

  @include respond-to(small) {
    .menu {
      order: 2;
    }

    .name {
      order: 1;
    }
  }

  @include respond-to(medium-plus) {
    .menu {
      //flex: 2;
    }
    .name {
      //flex: 1;
    }
  }

  .menu ul {

    @include respond-to(medium-plus) {
      display: flex;
      flex: row nowrap;
    }

    li {
      @include respond-to(medium-plus) {
        padding-right: 2em;
      }
    }
  }

}

main.home-page .container {

}

// save for later
// div.front-page-tile {
//   width: 100%;
//   background-image: url(../images/fortune_teller.png);
//   background-size: contain;
//   background-repeat: no-repeat;
//   height: 0;
//   padding-top: 56%; // 9/16 * 100

//   div.tile-text {
//     position: absolue;
//     top: 0;
//     height: 100%;
//     width: 100%;
//   }
// }

div.front-page-tile {
  width: 100%;
}

footer {
  background-color: #080808;
  color: #ffffff;

  .container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    .credit {

    }

    .social {

    }
  }
}

///////// About Page /////////
@include respond-to(medium-plus) {
  .col-1, .col-2 {
    flex: 1;
  }
}

main.about-page {
  .col-1 {
    align-self: center;
    padding-right: 1em;
  }
}
