nav {
  //position: fixed;
  padding: 1.5em 0 0 0;
  width: 100%;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.1),0 -5px 3px -10px #fff;

  @include respond-to(small) {
    margin-bottom: 21px;
  }

  @include respond-to(medium-plus) {
    position: fixed;
    padding: 1.5em 0;
    background-color: #ffffff;
    z-index: 1000;
  }

  .container {
    flex-flow: column nowrap;
    align-items: center;

    @include respond-to(medium-plus) {
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: baseline;
    }
  }

  .menu, .name  {
    //width: 100%;
    flex: none;
  }

  @include respond-to(small) {
    .menu {
      order: 2;
    }

    .name {
      order: 1;
      margin-bottom: 21px;
    }
  }

  @include respond-to(medium-plus) {
    .menu {
      //flex: 2;
    }
    .name {
      //flex: 1;
    }
  }

  .menu ul {
    display: flex;
      flex: row nowrap;

    // @include respond-to(medium-plus) {
    //   display: flex;
    //   flex: row nowrap;
    // }

    li {
      margin-bottom: 0.5em;
      @include respond-to(small) {
        margin-right: 1em;

        &:last-of-type {
          margin-right: 0px;
        }
      }

      @include respond-to(medium-plus) {
        padding-right: 2em;
        margin-bottom: 0;
      }
    }
  }

}

main.home-page .container {

}

// save for later
// div.front-page-tile {
//   width: 100%;
//   background-image: url(../images/fortune_teller.png);
//   background-size: contain;
//   background-repeat: no-repeat;
//   height: 0;
//   padding-top: 56%; // 9/16 * 100

//   div.tile-text {
//     position: absolue;
//     top: 0;
//     height: 100%;
//     width: 100%;
//   }
// }

div.front-page-tile {
  width: 100%;
  margin-bottom: 0.5em;

  @include respond-to(medium-plus) {
    margin-bottom: 1em;
  }
}

footer {
  background-color: #080808;
  color: #ffffff;
  padding: 0.5em 0;
  border-bottom: 2px solid #ffffff;

  .container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    .credit {

    }

    .social {
      font-size: 1.25em;

      @include respond-to(medium-plus) {
        font-size: 1em;
      }

      a {
        text-decoration: none;
        color: #ffffff;

        &:hover {
          color: darken(#ffffff, 25%);
        }
      }
      > * {
        margin-left: 0.5em;
      }
    }
  }
}

///////// About Page /////////
.col-1, .col-2 {
  margin-bottom: 1em;

  @include respond-to(medium-plus) {
    flex: 1;
  }
}


main.about-page {
  .col-1 {
    align-self: center;

    @include respond-to(medium-plus) {
      margin-right: 2em;
    }
  }
}

///////// About Page /////////
main.work-page .container{
  display: block;
}

.work-container {
  margin-bottom: 2em;

  .video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    height: auto;
  }
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

