$display: 'Open Sans', sans-serif;
$body: 'Pathway Gothic One', sans-serif;

body {
  font-size: 21px;
  line-height: 1.25em;
  font-family: $body;
}

h1 {
  font-size: 2.25em;
  font-family: $display;
  font-style: italic;
}

nav .menu {
  //font-size: 1.25em;
  font-family: $display;
  text-transform: uppercase;
}
